
<h2>Create a new tweet</h2>



<form  action="/tweets/new" method="post">
	<input type="textarea" maxLength="140" name="newtweet" class="form-control">
	<input style="display: inline;" type="submit" value="Post Tweet">
</form>

<a href="/">Return to your profile</a>